.env
.DS_Store
.gradio
environment.yml
__pycache__
.github

# Fly.io
.fly/
fly.toml.local

transcription/*.txt
transcription/finetune_data
transcription/recordings
transcription/fine_tune_whisper.ipynb
transcription/results

# Web app
web_app/uploads
web_app/results

# PEP Risk
pep_risk/recordings
ground_truth.csv
.Rproj.user

# IRB
*long*
*longform*
irb
data/patients.csv
data/procedures.csv
tests
uploads
chunks

# Note drafts
results/col
results/egd
results/ercp
results/eus
drafters/results
generated_artifacts

# old files/folders
05_col_experiments
05_ercp_experiments
05_eus_experiments
11_long*
llama_testjob.sh
llama_extraction.py
llama_vllm.py
structure.txt

*untracked*