.env
.DS_Store
.gradio
environment.yml
__pycache__

transcription/*.txt
transcription/finetune_data
transcription/recordings
transcription/fine_tune_whisper.ipynb

*long*
*longform*
data
tests

# old files/folders
05_col_experiments
05_ercp_experiments
05_eus_experiments
11_long*
llama_testjob.sh
llama_extraction.py
llama_vllm.py
structure.txt

LLM_USAGE.md

# unrelated
nostalg-ai
lang_rag_tutorial_2
edgar-analysis