.env
.DS_Store
.gradio
environment.yml
__pycache__
.github

# Fly.io
.fly/
fly.toml.local

transcription/*.txt
transcription/finetune_data
transcription/recordings
transcription/fine_tune_whisper.ipynb

transcription/results
web_app/uploads

pep_risk/recordings
ground_truth.csv

*long*
*longform*
irb
data
tests
uploads
chunks

# note drafts
drafters/results

# old files/folders
05_col_experiments
05_ercp_experiments
05_eus_experiments
11_long*
llama_testjob.sh
llama_extraction.py
llama_vllm.py
structure.txt

REFACTORING_SUMMARY.md
DEVLOPER_GUIDE.md
MIGRATION_COMPARISON.md
LLM_USAGE.md

# unrelated
nostalg-ai
lang_rag_tutorial_2
edgar-analysis