# conda
pydantic
whisperx==3.3.1
    # installs: torch needs 2.5.1, pandas, numpy
    # had trouble with whisperx 3.7.4 and torch 2.8.0
    # check:    
        # python -c "import torch; print(f'PyTorch: {torch.__version__}'); print(f'CUDA available: {torch.cuda.is_available()}')"
fastapi
openai
python-dotenv
websockets
# pip
noisereduce
uvicorn[standard]
soundfile
pydub
librosa
spacy
negspacy
python-multipart

python-docx
pytest
transformers

# vllm
# psycopg2-binary
anthropic
jinja2


pyyaml